/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.bold{
    font-weight:bold;
}

.tabla{
    max-height: 550px;
    width: 100%;
    overflow: auto;
    display:inline-block; 
}

.tablagestion{
    max-height: 550px;
    width: 120%;
    overflow: auto;
    display:inline-block; 
}

.tablaadmin{
    min-height: 550px;
}

.tablaentradas{ 
    max-height: 250px;
    width: 105%;
    overflow: auto;
    display:inline-block; 
}

.panelder{
    margin-left: 5%!important;
}

body{
    background-color: #92bcea;
}

.imgcarousel{
    width: 377px;
    height: 283px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.mensajes{
    max-height: 300px;
    width: 100%;
    background-color: #7a93ac;
    border-radius: 2%;
    padding: 2%;
    overflow: auto;
    display:inline-block;
}

.mensajes::-webkit-scrollbar{
    width: 8px;
    background-color: #F5F5F5;
}

.mensajes::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(104, 140, 240, 0.3);
}

.mensajes::-webkit-scrollbar-thumb{
    background-color: lightblue;
    outline: 1px solid slategrey;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    color: white!important;
    background-color: #212529!important;
}

.nav-link{
    color: black;
}

.top-chat{
    background-color: #617073;
    border-radius: 2%;
}
.chat{
    width: 200%;
}

.chat-selector{
    width: 120%;
}

.botoncantidad{
    width: 36px;
}

.inputcantidad{
    width: 45px;
}

#inputpromociones{
    width: 130%;
}

.seat-selector{
    width: 640px;
    height: 360px;
    background-color: #7A93AC;
    border-radius: 5%;
    margin-left: 20%;
}

.seat-selector-modal{
    width: 640px;
    height: 360px;
    background-color: #7A93AC;
    border-radius: 5%;
    margin-left: 7.5%;
}

.screen{
    background-color: #617073;
}

circle:hover{
    cursor: pointer;
}

.muestra{
    background-color: #92bcea;
    border: 1px solid black;
    width: 16px;
    height: 16px;
}

.muestraselec{
    background-color: yellow;
    border: 1px solid black;
    width: 16px;
    height: 16px;
}

.muestraocup{
    background-color: red;
    border: 1px solid black;
    width: 16px;
    height: 16px;
}

.comprobarentradas{
    background-color: #7a93ac;
    border-radius: 5%;
    padding: 5%;
    margin-left: 15%!important;
}

.login{
    margin-top: 10%;
    margin-left: 30%;
    background-color: rgb(122, 147, 172,0.5);
    border-radius: 5%;
    padding: 2%;
    width: 40%;
}

.fileinput{
    width: 93%;
}

.buscador{
    padding: 2.5px;
}

.modheader{
    background-color: #617073;
}

.modbody{
    background-color:rgb(122, 147, 172,0.5) ;
}

.modfooter{
    background-color: #617073;
}

.busctitulocat{
    width: 63%;
}

.filtropelicula{
    width: 15%;
}

.gestionn{
    width: 120%;
}

.buscadorsala{
    width: 20%;
    height: 30%;
}

#festivoscierre{
    width: 300%;
}

.fcierre{
    width: 80%;
}

/* Set the size of the div element that contains the map */
#map {
    height: 450px;
    /* The height is 400 pixels */
    width: 450px;
    /* The width is the width of the web page */
}

.carousel-inner{
    width:600px;
    max-height: 480px !important;
 }

.titul{
    margin-right: 15%;
}
#userimg{
    height: 38px;
    width: 161px;
}