/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.bold{
    font-weight:bold;
}

.tabla{
    max-height: 550px;
    width: 100%;
    overflow: auto;
    display:inline-block; 
}

.tablaentradas{
    max-height: 250px;
    width: 100%;
    overflow: auto;
    display:inline-block; 
}

body{
    background-color: #92bcea;
}

.imgcarousel{
    width: 377px;
    height: 283px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}
