<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>FilmAdmin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/funcionesAdmin.js}"></script>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="fragments/nav.html :: nav"></header> 

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Panel de Administración</h1>
            <div class="container">
                <div class="d-flex mt-5">
                    <div class="nav flex-column nav-pills me-4" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link chat-selector active" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="true">Usuarios</button>
                        <button class="nav-link chat-selector" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="false">Películas</button>
                        <button class="nav-link chat-selector" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false">Cines</button>
                        <button class="nav-link chat-selector" id="v-pills-salas-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-salas" type="button" role="tab" aria-controls="v-pills-salas"
                            aria-selected="false">Salas</button>
                        <button class="nav-link chat-selector" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">Sesiones</button>
                    </div>
                    <div class="tab-content chat" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                            <div class="d-flex justify-content-between">
                                <h2 class="ms-5">Usuarios</h2>
                                <input type="text" placeholder="Buscar usuario" class="w-50 buscador ms-5 form-control">
                                <button type="button" class="btn btn-dark" id="crearusuario">Añadir usuario</button>
                            </div>
                            <div class="table-responsive tabla tablaadmin mt-3">
                                <table class="table align-middle">
                                    <thead></thead>
                                    <tbody>
                                        <tr th:each="usuario : ${usuarios}">
                                            <td class="d-flex align-items-center"><a th:href="@{/user/{id}(id=${usuario.id})}"><img
                                                        th:src="@{/user/{id}/pic(id=${usuario.id})}" src="/img/default-pic.jpg"
                                                        alt="imagen usuario" height="120px" width="84px"
                                                        class="d-inline-block"></a></td>
                                            <td th:text="${usuario.username}" class="text-dark bold">a</td>
                                            <td th:text="${usuario.roles}">admin</td>
                                            <td><button type="button" class="btn btn-dark btn-sm editarusuario" th:attr="data-id=${usuario.id},data-username=${usuario.username},
                                                data-email=${usuario.email},data-firstname=${usuario.firstName},data-lastname=${usuario.lastName},data-birthdate=${usuario.birthDate}">Editar</button></td>
                                            <td><button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-center"></div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">
                            <div class="d-flex justify-content-between">
                                <h2 class="ms-5">Películas</h2>
                                <input type="text" placeholder="Buscar película" class="w-50 buscador ms-5 form-control">
                                <button type="button" class="btn btn-dark" id="crearpelicula">Añadir película</button>
                            </div>
                            <div class="table-responsive tabla tablaadmin mt-3">
                                <table class="table align-middle">
                                    <thead></thead>
                                    <tbody>
                                        <tr th:each="pelicula : ${peliculas}">
                                            <td class="d-flex align-items-center"><a th:href="@{/peliculas/{id}(id=${pelicula.id})}"><img
                                                        th:src="@{/peliculas/{id}/pic(id=${pelicula.id})}" src="/img/img1.jpg"
                                                        alt="imagen pelicula" height="120px" width="84px"
                                                        class="d-inline-block"></a></td>
                                            <td><a th:href="@{/peliculas/{id}(id=${pelicula.id})}" th:text="${pelicula.titulo}" class="text-dark bold">El buen patrón</a></td>
                                            <td><button type="button" class="btn btn-dark btn-sm editarpelicula" th:attr="data-id=${pelicula.id}">Editar</button></td>
                                            <td><button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                            aria-labelledby="v-pills-messages-tab">
                            <div class="d-flex justify-content-between">
                                <h2 class="ms-5">Cines</h2>
                                <input type="text" placeholder="Buscar cine" class="w-50 buscador form-control ms-5">
                                <button type="button" class="btn btn-dark" id="crearcine">Añadir Cine</button>
                            </div>
                            <div class="table-responsive tabla tablaadmin mt-3">
                                <table class="table align-middle">
                                    <thead></thead>
                                    <tbody>
                                        <tr th:each="cine : ${cines}">
                                            <td class="d-flex align-items-center"><a th:href="@{/cines/{id}(id=${cine.id})}"><img
                                                        th:src="@{/cines/{id}/pic(id=${cine.id})}" src="/img/lagavia.jpg"
                                                        alt="imagen cine" height="120px" width="84px"
                                                        class="d-inline-block"></a></td>
                                            <td><a th:href="@{/cines/{id}(id=${cine.id})}" th:text="${cine.nombre}" class="text-dark bold">La Gavia</a></td>
                                            <td th:text="${cine.salas.size + ' salas'}">12 salas</td>
                                            <td th:text="${cine.sesiones.size + ' sesiones'}">8 sesiones</td>
                                            <td><button type="button" class="btn btn-dark btn-sm editarcine" th:attr="data-id=${cine.id}">Editar</button></td>
                                            <td><button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-salas" role="tabpanel"
                            aria-labelledby="v-pills-salas-tab">
                            <div class="d-flex justify-content-between">
                                <h2 class="ms-5">Salas</h2>
                                <select class="form-select w-25 h-50 ms-auto" aria-label="Seleccion de Cine">
                                    <option value="" selected disabled hidden>Seleccione un cine</option>
                                    <option th:each="cine : ${cines}" th:text="${cine.ciudad + ' - ' + cine.nombre}"
                                        th:attr="value=#{cine.id}">Madrid - La Gavia</option>
                                </select>
                                <input type="text" placeholder="Buscar sala por nombre" class="buscadorsala form-control ms-5 me-5">
                                <button type="button" class="btn btn-dark" id="crearsala">Añadir Sala</button>
                            </div>
                            <div class="table-responsive tabla tablaadmin mt-3">
                                <table class="table align-middle">
                                    <thead></thead>
                                    <tbody>
                                        <tr th:each="sala : ${salas}">
                                            <td class="d-flex align-items-center"><img
                                                        th:src="@{/cines/{id}/pic(id=${sala.cine.id})}" src="/img/lagavia.jpg"
                                                        alt="imagen cine" height="120px" width="84px"
                                                        class="d-inline-block"></td>
                                            <td class="text-dark bold" th:text="${sala.nombre}">Sala 2</td>
                                            <td><a th:href="@{/cines/{id}(id=${sala.cine.id})}" th:text="${sala.cine.nombre}" class="text-dark bold">La Gavia</a></td>
                                            <td th:text="${sala.filas + ' filas'}">4 filas</td>
                                            <td th:text="${sala.columnas + ' columnas'}">12 columnas</td>
                                            <td><button type="button" class="btn btn-dark btn-sm editarsala" th:attr="data-id=${sala.id}, data-cineid=${sala.cine.id}">Editar</button></td>
                                            <td><button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                            aria-labelledby="v-pills-settings-tab">
                            <div class="d-flex justify-content-between">
                                <h2 class="ms-5">Sesiones</h2>
                                <select class="form-select w-25 h-50 ms-5" aria-label="Seleccion de Cine">
                                    <option value="" selected disabled hidden>Seleccione un cine</option>
                                    <option th:each="cine : ${cines}" th:text="${cine.ciudad + ' - ' + cine.nombre}"
                                        th:attr="value=#{cine.id}">Madrid - La Gavia</option>
                                </select>
                                <select class="form-select w-25 h-50 ms-3" aria-label="Seleccion de Sala" disabled>
                                    <option value="" selected disabled hidden>Seleccione una sala</option>
                                    <option value="1">Sala 1</option>
                                    <option value="2">Sala 2</option>
                                </select>
                                <input type="date" class="form-control w-25 h-50 ms-3" th:value="${#temporals.format(dia, 'yyyy-MM-dd')}" id="fecha" name="fecha" required="required">
                                <input type="text" class="form-control w-25 h-50 ms-3 me-3" placeholder="Busca un título" >
                                <button type="button" class="btn btn-dark" id="crearsesion">Añadir sesión</button>
                            </div>
                            <div class="table-responsive tabla tablaadmin mt-3">
                                <table class="table align-middle">
                                    <thead></thead>
                                    <tbody>
                                        <tr th:each="sesion : ${sesiones}">
                                            <td class="d-flex align-items-center"><a th:href="@{/peliculas/{id}(id=${sesion.pelicula.id})}"><img
                                                        th:src="@{/peliculas/{id}/pic(id=${sesion.pelicula.id})}" src="/img/img1.jpg"
                                                        alt="imagen pelicula" height="120px" width="84px"
                                                        class="d-inline-block"></a></td>
                                            <td th:text="${#temporals.format(sesion.dia_hora, 'dd/MM/yy')}">01/03/22</td>
                                            <td th:if="${sesion.dia_hora.minute &lt; 10}" th:text="${sesion.dia_hora.hour + ':0' + sesion.dia_hora.minute}">21:00</td>
                                            <td th:unless="${sesion.dia_hora.minute &lt; 10}" th:text="${sesion.dia_hora.hour + ':' + sesion.dia_hora.minute}">21:00</td>
                                            <td><a th:href="@{/peliculas/{id}(id=${sesion.pelicula.id})}" th:text="${sesion.pelicula.titulo}" class="text-dark bold">El buen patrón</a></td>
                                            <td th:text="${sesion.cine.nombre}">La Gavia</td>
                                            <td th:text="${sesion.sala.nombre}">Sala 2</td>
                                            <td><button type="button" class="btn btn-dark btn-sm editarsesion" th:attr="data-id=${sesion.id}, 
                                                data-cineid=${sesion.cine.id}, data-peliculaid=${sesion.pelicula.id}, 
                                                data-salaid=${sesion.sala.id}, data-diahora=${sesion.dia_hora}, data-precio=${sesion.precioEntrada}">Editar</button></td>
                                            <td><button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="modalUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header modheader">
                      <h5 class="modal-title text-light" id="exampleModalLabel">Gestionar Usuario</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modbody">
                        <form class=" d-flex flex-column align-items-center formusuario" id="formUsuario" method="post" th:action="@{/user/-1}">
                            <div class="d-flex justify-content-between mt-5">
                                <p>
                                    <label for="username" class="visually-hidden">Username</label>
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="required">
                                </p>
                                <p class="ms-4">
                                    <label for="email" class="visually-hidden">Correo</label>
                                    <input type="email" class="form-control" placeholder="correo@filmadmin.es" id="email" name="email" required="required">
                                </p>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <p>
                                    <label for="password" class="visually-hidden">Password</label>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required="required">
                                </p>
                                <p class="ms-4">
                                    <label for="confirm_password" class="visually-hidden">Confirmar Password</label>
                                    <input type="password" class="form-control" id="confirm_password" name="pass2" placeholder="Confirmar contraseña" required="required">
                                </p>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <p>
                                    <label for="nombre" class="visually-hidden">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre" id="nombre" name="firstName" required="required">
                                </p>
                                <p class="ms-4">
                                    <label for="apellidos" class="visually-hidden">Apellidos</label>
                                    <input type="text" class="form-control" placeholder="Apellidos" id="apellidos" name="lastName" required="required">
                                </p>
                            </div>
                            <div class="d-flex justify-content-between mt-2 ms-3">
                                <p>
                                    <label for="fecha" class="visually-hidden">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control mb-2" value="1998-01-01" id="fecha" name="birthDate" required="required">
                                </p>
                                <p class="ms-4">
                                    <label for="userimg" class="visually-hidden">Imagen</label>
                                    <input class="form-control fileinput" type="file" id="userimg" name="userimg" accept="image/*">
                                </p>
                            </div>
                            <div class="d-flex justify-content-start mt-2">
                                <p>
                                    <img id="previewimg" src="" height="120px" width="84px" style="display: none;">
                                </p>
                            </div>  
                            <div class="modal-footer modfooter">
                                <button type="submit" class="btn btn-dark" id="validarusuario">Validar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>     
                        </form>
                    </div>
                  </div>
                </div>
            </div>

            <div class="modal fade" id="modalPelicula" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header modheader">
                      <h5 class="modal-title text-light" id="exampleModalLabel">Gestionar Pelicula</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modbody">
                        <form class=" d-flex flex-column align-items-center" method="post" th:action="@{/peliculas/-1}">
                            <div class="d-flex justify-content-between mt-5">
                                <p>
                                    <label for="username" class="visually-hidden">Titulo</label>
                                    <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Título" required="required">
                                </p>
                                <p class="ms-4">
                                    <label for="email" class="visually-hidden">Duracion</label>
                                    <input type="text" class="form-control" placeholder="Duración (minutos)" id="duracion" name="duracion" required="required">
                                </p>
                            </div>
                            <div class="d-flex justify-content-between mt-2 ms-3">
                                <p>
                                    <label for="genero" class="visually-hidden">Genero</label>
                                    <input type="text" id="genero" name="genero" class="form-control" placeholder="Género" required="required">
                                </p>
                                <p class="ms-4">
                                    <label for="peliculaimg" class="visually-hidden">Imagen</label>
                                    <input class="form-control fileinput" type="file" id="peliculaimg" name="imagen" accept="image/*" required="required">
                                </p>
                            </div>
                            <div class="d-flex justify-content-start mt-2">
                                <p>
                                    <img id="previewimg" src="" height="120px" width="84px" style="display: none;">
                                </p>
                            </div> 
                            <div class="modal-footer modfooter">
                                <button type="submit" class="btn btn-dark">Validar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>    
                        </form>
                    </div>
                  </div>
                </div>
            </div>

            <div class="modal fade" id="modalCine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header modheader">
                      <h5 class="modal-title text-light" id="exampleModalLabel">Gestionar Cine</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modbody">
                        <form class=" d-flex flex-column align-items-center" method="post" th:action="@{/cines/-1}">
                            <div class="d-flex justify-content-center mt-3">
                                <h6>Nombre, Ciudad y Dirección</h6>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <p>
                                    <label for="nombre" class="visually-hidden">Nombre</label>
                                    <input type="text" id="nombre-cine" name="nombre" class="form-control" placeholder="Nombre" required="required">
                                </p>
                                <p class="ms-4">
                                    <label for="ciudad" class="visually-hidden">Ciudad</label>
                                    <input type="text" id="ciudad" name="ciudad" class="form-control" placeholder="Ciudad" required="required">
                                </p>
                                <p class="ms-4">
                                    <label for="email" class="visually-hidden">Direccion</label>
                                    <input type="text" class="form-control" placeholder="Dirección" id="direccion-cine" name="direccion" required="required">
                                </p>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <h6>Días Apertura</h6>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="MONDAY">
                                    <label class="form-check-label" for="MONDAY">
                                      LUNES
                                    </label>
                                </div>
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" value="2" id="TUESDAY">
                                    <label class="form-check-label" for="TUESDAY">
                                      MARTES
                                    </label>
                                </div>
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" value="3" id="WEDNESDAY">
                                    <label class="form-check-label" for="WEDNESDAY">
                                      MIERCOLES
                                    </label>
                                </div>
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" value="4" id="THURSDAY">
                                    <label class="form-check-label" for="THURSDAY">
                                      JUEVES
                                    </label>
                                </div>
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" value="5" id="FRIDAY">
                                    <label class="form-check-label" for="FRIDAY">
                                      VIERNES
                                    </label>
                                </div>
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" value="6" id="SATURDAY">
                                    <label class="form-check-label" for="SATURDAY">
                                      SABADO
                                    </label>
                                </div>
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" value="7" id="SUNDAY">
                                    <label class="form-check-label" for="SUNDAY">
                                      DOMINGO
                                    </label>
                                </div>    
                            </div>
                            <div class="d-flex justify-content-between mt-4">
                                <p>
                                    <label for="hora-apertura" class="">Hora Apertura:</label>
                                    <input type="time" id="hora-apertura" name="apertura" min="09:00" max="23:00" required>
                                </p>
                                <p class="ms-4">
                                    <label for="hora-cierre" class="">Hora Cierre:</label>
                                    <input type="time" id="hora-cierre" name="cierre" min="09:00" max="23:00" required>
                                </p>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <h6>Festivos Cierre</h6>
                            </div>
                            <div class="d-flex justify-content-start mt-2 fcierre">
                                <p>
                                    <label for="festivoscierre" class="visually-hidden">Festivos Cierre</label>
                                    <input type="text" id="festivoscierre" name="festivoscierre" class="form-control" placeholder="Introduce los festivos separados por comas (Ejemplo: 01/01,12/10,25/12)">
                                </p>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <h6>Coordenadas y Imagen del Cine</h6>
                            </div>
                            <div class="d-flex justify-content-between mt-2 ms-3">
                                <p>
                                    <label for="coordenadas" class="visually-hidden">Latitud,Longitud</label>
                                    <input type="text" class="form-control" placeholder="Latitud,Longitud" id="coordenadas" name="maps" required="required">
                                </p>
                                <p class="ms-4">
                                    <label for="cineimg" class="visually-hidden">Imagen</label>
                                    <input class="form-control fileinput" type="file" id="cineimg" name="imagen" accept="image/*">
                                </p>
                            </div>
                            <div class="d-flex justify-content-start mt-2">
                                <p>
                                    <img id="previewimg" src="" height="120px" width="84px" style="display: none;">
                                </p>
                            </div> 
                            <div class="modal-footer modfooter">
                                <button type="submit" class="btn btn-dark">Validar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>       
                        </form>
                    </div>
                  </div>
                </div>
            </div>

            <div class="modal fade" id="modalSala" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header modheader">
                      <h5 class="modal-title text-light" id="exampleModalLabel">Gestionar Sala</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modbody">
                        <form class=" d-flex flex-column align-items-between" method="post" th:action="@{/salas/-1}">
                            <div class="d-flex justify-content-center mt-3">
                                <h6>Cine y Nombre</h6>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <select class="form-select w-50 h-50" aria-label="Seleccion de Cine" name="seleccion-cine" id="seleccion-cine" required="required">
                                    <option value="" selected disabled hidden>Seleccione un cine</option>
                                    <option th:each="cine : ${cines}" th:text="${cine.ciudad + ' - ' + cine.nombre}"
                                        th:attr="value=${cine.id}">Madrid - La Gavia</option>
                                </select>
                                <p class="ms-2">
                                    <label for="username" class="visually-hidden">Nombre de la Sala</label>
                                    <input type="text" id="nombre-sala" name="nombre-sala" class="form-control" placeholder="Nombre" required="required">
                                </p>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <h6>Filas y Columnas</h6>
                            </div>
                            <div class="d-flex justify-content-center mt-4">
                                <p>
                                    <label for="filas" class="">Filas</label>
                                    <input type="number" id="filas" name="filas" class="form-control" value=4 required="required">
                                </p>
                                <p class="ms-2">
                                    <label for="columnas" class="">Columnas</label>
                                    <input type="number" id="columnas" name="columnas" class="form-control" value=12 required="required">
                                </p>
                            </div>
                            <div class="modal-footer modfooter">
                                <button type="submit" class="btn btn-dark">Validar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>   
                        </form>
                    </div>
                  </div>
                </div>
            </div>

            <div class="modal fade" id="modalSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header modheader">
                      <h5 class="modal-title text-light" id="exampleModalLabel">Gestionar Sesion</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modbody">
                        <form class=" d-flex flex-column align-items-center" method="post" th:action="@{/sesiones/-1}">
                            <div class="d-flex justify-content-center mt-3">
                                <select class="form-select" aria-label="Seleccion de Cine" name="pelicula" required="required">
                                    <option value="" selected disabled hidden>Seleccione una pelicula</option>
                                    <option th:each="pelicula : ${peliculas}" th:text="${pelicula.titulo}"
                                        th:attr="value=${pelicula.id}">El buen patron</option>
                                </select>
                            </div>
                            <div class="d-flex justify-content-between mt-4">
                                <select class="form-select w-50" aria-label="Seleccion de Cine" name="cine" required="required">
                                    <option value="" selected disabled hidden>Selecciona un cine</option>
                                    <option th:each="cine : ${cines}" th:text="${cine.ciudad + ' - ' + cine.nombre}"
                                    th:attr="value=${cine.id}">Madrid - La Gavia</option>
                                </select>
                                <select class="form-select w-50 ms-3" aria-label="Seleccion de Sala" name="sala"  required="required" disabled>
                                    <option value="seleccion" selected disabled hidden>Seleccione una sala</option>
                                    <option th:each="sala : ${salas}" th:text="${sala.cine.nombre + ' - ' + sala.nombre}"
                                        th:attr="value=${sala.id}, cine=${sala.cine.id}">Sala 1</option>

                                </select>
                            </div>
                            <div class="d-flex justify-content-between mt-4">
                                <p>
                                    <label for="fecha" class="">Selecciona un día:</label>
                                    <input type="date" id="fecha" class="form-control" name="fecha" value="2022-03-01" required>
                                </p>
                                <p class=" ms-3">
                                    <label for="hora" class="">Selecciona una hora:</label>
                                    <input type="time" id="hora" class="form-control" name="hora" min="09:00" max="23:00" required>
                                </p>
                            </div>
                            <div class="d-flex justify-content-between mt-4">
                                <p>
                                    <label for="precio" class="visually-hidden">Precio entrada</label>
                                    <input type="text" id="precio" name="precio" class="form-control" placeholder="Precio entrada (€)" required="required">
                                </p>
                            </div>
                            <div class="modal-footer modfooter">
                                <button type="submit" class="btn btn-dark">Validar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

</body>


<script th:inline="javascript">

    /*<![CDATA[*/

    var peliculas = /*[[${peliculas}]]*/ 'Peliculas';
    var cines = /*[[${cines}]]*/ 'Cines';
    var salas = /*[[${salas}]]*/ 'Salas';
    var sesiones = /*[[${sesiones}]]*/ 'Sesiones';

    $(function () {
        $('#crearusuario').click(crearUsuario);
        $('#crearcine').click(crearCine);
        $('#crearpelicula').click(crearPelicula);
        $('#crearsala').click(crearSala);
        $('#crearsesion').click(crearSesion);

        $('.editarusuario').click(editarUsuario);
        $('.editarpelicula').click({peliculas}, editarPelicula);
        $('.editarcine').click({cines}, editarCine);
        $('.editarsala').click({salas}, editarSala);
        $('.editarsesion').click({sesiones, salas}, editarSesion);
        $('.eliminarUsuario').click(eliminarUsuario)

    });

     /*]]>*/
</script>

</html>