<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>FilmAdmin</title>
    <script async type="text/javascript" th:src="@{/js/funcionesMensajes.js}"></script>
</head>

<body class="d-flex flex-column h-100" onload="loadMessages()">

    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Atención al Cliente</h1>
              <div class="d-flex mt-5">
                <div class="nav flex-column nav-pills me-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button th:each="user, index : ${usuarios}" class="nav-link chat-selector active" th:if="${index.first}" th:id="'v-pills-' + ${user.id} + '-tab'" data-bs-toggle="pill" th:attr="data-bs-target='#v-pills-' + ${user.id},aria-controls='v-pills-' + ${user.id}" type="button" role="tab" aria-selected="false" th:text="'Cliente ' + ${user.username}">Cliente 2</button>
                  <button th:each="user, index : ${usuarios}" class="nav-link chat-selector" th:unless="${index.first}" th:id="'v-pills-' + ${user.id} + '-tab'" data-bs-toggle="pill" th:attr="data-bs-target='#v-pills-' + ${user.id},aria-controls='v-pills-' + ${user.id}" type="button" role="tab" aria-selected="false" th:text="'Cliente ' + ${user.username}">Cliente 2</button>
                </div>
                <div class="tab-content chat" id="v-pills-tabContent">
                  <div class="tab-pane fade active show" th:each="user, index : ${usuarios}" th:if="${index.first}" th:id="'v-pills-' + ${user.id}" role="tabpanel" th:attr="aria-labelledby='v-pills-' + ${user.id} + '-tab'">
                    <div class="d-flex align-items-center top-chat">
                      <span class="p-1 bold ms-auto" th:text="'Chat con ' + ${user.firstName} + ' ' + ${user.lastName}">Chat con Cliente 1</span>
                      <button type="button" class="btn-close btn-close-white ms-auto me-2" aria-label="Close"></button>
                    </div>
                    <div class="mensajes mb-3" th:id="'mensajes-' + ${user.id}">
                      <!-- <div class="d-flex justify-content-center mt-4"><div>user está escribiendo...</div></div> -->
                    </div>
                    <form class="d-flex flex-column" method="POST" id="messageform" onsubmit="enviarMensajeUser(event)">
                      <textarea id="message" class="message" onkeypress="enviarMensajeUser(event)"></textarea>
                      <button class="btn btn-dark mt-3" type="submit" id="sendmsg">Enviar</button>
                      <input type="hidden" th:id="userid" th:value="${user.id}"></input>
                      <input type="hidden" th:class="usernameclient" th:value="${user.username}"></input>
                    </form>
                  </div>
                  <div class="tab-pane fade" th:each="user, index : ${usuarios}" th:unless="${index.first}" th:id="'v-pills-' + ${user.id}" role="tabpanel" th:attr="aria-labelledby='v-pills-' + ${user.id} + '-tab'">
                    <div class="d-flex align-items-center top-chat">
                      <span class="p-1 bold ms-auto" th:text="'Chat con ' + ${user.firstName} + ' ' + ${user.lastName}">Chat con Cliente 1</span>
                      <button type="button" class="btn-close btn-close-white ms-auto me-2" aria-label="Close"></button>
                    </div>
                    <div class="mensajes mb-3" th:id="'mensajes-' + ${user.id}">
                      <!-- <div class="d-flex justify-content-center mt-4"><div>user está escribiendo...</div></div> -->
                    </div>
                    <form class="d-flex flex-column" method="POST" id="messageform" onsubmit="enviarMensajeUser(event)">
                      <textarea id="message" class="message" onkeypress="enviarMensajeUser(event)"></textarea>
                      <button class="btn btn-dark mt-3" type="submit" id="sendmsg">Enviar</button>
                      <input type="hidden" th:id="userid" th:value="${user.id}"></input>
                      <input type="hidden" th:class="usernameclient" th:value="${user.username}"></input>
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>