<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>FilmAdmin</title>
    <script async type="text/javascript" th:src="@{/js/funcionesMensajes.js}"></script>
</head>

<body class="d-flex flex-column h-100" onload="loadMessages()">
    
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 mb-5">Atención al Cliente</h1>
            <div class="d-flex align-items-center top-chat">
                <span class="p-1 bold ms-auto me-auto">Chat de Atención al Cliente</span>
            </div>
            <div class="w-100 mensajes mb-3" id="mensajes-1">
                <!-- <div class="d-flex justify-content-center mt-4"><div>Filmadmin está escribiendo...</div></div> -->
            </div>
            <form class="d-flex flex-column" method="POST" id="messageform" onsubmit="enviarMensaje(event)">
                <textarea id="message" class="message" onkeypress="enviarMensaje(event)"></textarea>
                <button type="submit" id="sendmsg" class="btn btn-dark mt-3">Enviar</button>
                <input type="hidden" id="userid" value="1"></input>
                <input type="hidden" class="usernameclient" value="a"></input>
            </form>
        </div>
    </main>
    <th:block th:replace="fragments/footer.html :: footer" />

</body>

</html>