<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>FilmAdmin</title>
    <script async type="text/javascript" th:src="@{/js/funcionesPelicula.js}"></script>
</head>

<body class="d-flex flex-column h-100" onload="getPeliculaInfo()">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="d-flex align-items-center mt-5">
                <h1 id="titulo" th:text="${pelicula.titulo}">El buen patrón</h1>
                
            </div>
            <div class="d-flex mt-5 align-items-center">
                <img th:src="@{/peliculas/{id}/pic(id=${pelicula.id})}" src="/img/img1.jpg" alt="imagen pelicula" width="210px" height="300px" class="d-inline-block">
                <iframe width="560" id="trailer" height="315" src="" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="ms-5" allowfullscreen></iframe>
                <div class="d-flex flex-column ms-5">
                    <p><span class="bold">Duración: </span><span id="duracion" th:text="${pelicula.duraccion}"></span> min</p>
                    <p><span class="bold">Género: </span><span id="genero" th:text="${pelicula.genero}"></span></span>
                    <p><span class="bold">Directores: </span><span id="director"></span></p>
                    <p><span class="bold">Guionistas: </span><span id="guionista"></span></p>
                    <p><span class="bold">Actores: </span><span id="actores"></span></p>
                </div>
            </div>
            <h2 class="mt-5">Sesiones</h2>
            <div class="d-flex mt-5">
                <div th:each="pase : ${pelicula.sesiones}" th:id="'sesion' + ${pase.id}" th:class="'d-flex flex-column me-5 sesion cine-' + ${pase.cine.id} + ' sala-' + ${pase.sala.id}">
                    <a th:if="${pase.asientosLibres > 0}" th:href="@{/entradas/compra-entradas?sesion={p}(p=${pase.id})}">
                        <button type="button" class="btn btn-dark" th:if="${pase.dia_hora.minute &lt; 10 && pase.asientosLibres > 0}" th:text="${pase.dia_hora.hour + ':0' + pase.dia_hora.minute}">12:00</button>
                        <button type="button" class="btn btn-dark" th:if="${pase.dia_hora.minute &gt; 10 && pase.asientosLibres > 0}" th:text="${pase.dia_hora.hour + ':' + pase.dia_hora.minute}">12:00</button>
                        <button type="button" class="btn btn-dark" th:if="${pase.dia_hora.minute &lt; 10 && pase.asientosLibres == 0}" th:text="${pase.dia_hora.hour + ':0' + pase.dia_hora.minute}" disabled>12:00</button>
                        <button type="button" class="btn btn-dark" th:if="${pase.dia_hora.minute &gt; 10 && pase.asientosLibres == 0}" th:text="${pase.dia_hora.hour + ':' + pase.dia_hora.minute}" disabled>12:00</button>
                    </a>
                    <a th:unless="${pase.asientosLibres > 0}" href="#">
                        <button type="button" class="btn btn-dark" th:if="${pase.dia_hora.minute &lt; 10 && pase.asientosLibres > 0}" th:text="${pase.dia_hora.hour + ':0' + pase.dia_hora.minute}">12:00</button>
                        <button type="button" class="btn btn-dark" th:if="${pase.dia_hora.minute &gt; 10 && pase.asientosLibres > 0}" th:text="${pase.dia_hora.hour + ':' + pase.dia_hora.minute}">12:00</button>
                        <button type="button" class="btn btn-dark" th:if="${pase.dia_hora.minute &lt; 10 && pase.asientosLibres == 0}" th:text="${pase.dia_hora.hour + ':0' + pase.dia_hora.minute}" disabled>12:00</button>
                        <button type="button" class="btn btn-dark" th:if="${pase.dia_hora.minute &gt; 10 && pase.asientosLibres == 0}" th:text="${pase.dia_hora.hour + ':' + pase.dia_hora.minute}" disabled>12:00</button>
                    </a>
                    <p class="mt-2 text-danger bold" th:if="${pase.asientosLibres == 0}">AGOTADO</p>
                    <p class="mt-2 text-danger bold" th:if="${pase.asientosLibres &lt; 3 && pase.asientosLibres &gt; 0}" th:text="${pase.asientosLibres + ' butacas'}">2 butacas</p>
                    <p class="mt-2" th:if="${pase.asientosLibres &gt; 2}" th:text="${pase.asientosLibres + ' butacas'}">10 butacas</p>
                    <input type="hidden" th:value="${pase.dia_hora}"></input>
                </div>
            </div>   
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>