<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>FilmAdmin</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="content">

                <h1 class="mt-5">Listado de Peliculas</h1>

                <div class="d-flex flex-row align-items-center mt-5">
                    <select class="form-select w-50" aria-label="Seleccion de Cine">
                        <option selected>Seleccione un cine</option>
                        <option th:each="cine : ${cines}" th:text="${cine.ciudad + ' - ' + cine.nombre}"
                            th:attr="value=#{cine.id}">Madrid - La Gavia</option>
                    </select>
                    <select class="form-select w-25 ms-3" aria-label="Seleccion de Sala" disabled>
                        <option selected>Seleccione una sala</option>
                        <option value="1">Sala 1</option>
                        <option value="2">Sala 2</option>
                    </select>
                    <input type="date" class="form-control w-25 ms-3" value="2022-03-01" id="fecha" name="fecha"
                        required="required">
                    <form class="d-flex w-75 ms-3">
                        <input type="text" placeholder="Busca un título o una categoría" class="busctitulocat">
                        <button type="button" class="btn btn-dark ms-2">A-Z ↓</button>
                        <button type="button" class="btn btn-dark ms-2">Duración ↓</button>
                    </form>
                </div>
                <div class="table-responsive tabla mt-3">
                    <table class="table align-middle">
                        <thead></thead>
                        <tbody>
                            <tr th:each="sesion : ${sesiones}">
                                <td class="d-flex align-items-center"><a
                                        th:href="@{/peliculas/{id}(id=${sesion.id})}"><img
                                            th:src="@{/img/{id}(id=${sesion.img})}" src="/img/img1.jpg"
                                            alt="imagen pelicula" height="120px" width="84px"
                                            class="d-inline-block"></a></td>
                                <td><a th:href="@{/peliculas/{id}(id=${sesion.id})}" th:text="${sesion.titulo}"
                                        class="text-dark bold">El buen patrón</a></td>
                                <td th:text="${sesion.duraccion + ' min'}">120 min</td>
                                <td th:text="${sesion.genero}">Comedia</td>
                                <th:block th:each="pase : ${sesion.sesiones}">
                                    <td>
                                        <a th:href="@{/compra-entradas?pase={p}(p=${pase.id})}">
                                            <button type="button" class="btn btn-dark btn-sm ms-3" th:if="${pase.dia_hora.minute &lt; 10}" th:text="${pase.dia_hora.hour + ':0' + pase.dia_hora.minute}">12:00</button>
                                            <button type="button" class="btn btn-dark btn-sm ms-3" th:unless="${pase.dia_hora.minute &lt; 10}" th:text="${pase.dia_hora.hour + ':' + pase.dia_hora.minute}">12:00</button>
                                        </a>
                                        <p class="mt-2 text-danger bold" th:if="${pase.asientosLibres == 0}">AGOTADO</p>
                                        <p class="mt-2 text-danger bold" th:if="${pase.asientosLibres &lt; 3 && pase.asientosLibres &gt; 0}" th:text="${pase.asientosLibres + ' butacas'}">2 butacas</p>
                                        <p class="mt-2" th:if="${pase.asientosLibres &gt; 2}" th:text="${pase.asientosLibres + ' butacas'}">10 butacas</p>
                                    </td>
                                </th:block>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>