<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>FilmAdmin</title>
    <script async type="text/javascript" th:src="@{/js/funcionesSesiones.js}"></script>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="content">

                <h1 class="mt-5">Listado de Peliculas</h1>

                <div class="d-flex flex-row align-items-center mt-5">
                    <select id="cine-selector" class="form-select w-50" aria-label="Seleccion de Cine" onchange="filtroCine(event)">
                        <option selected value="0">Seleccione un cine</option>
                        <option th:each="cine : ${cines}" th:text="${cine.ciudad + ' - ' + cine.nombre}"
                            th:attr="value=${cine.id}">Madrid - La Gavia</option>
                    </select>
                    <select id="sala-selector" class="form-select w-25 ms-3" aria-label="Seleccion de Sala" onchange="filtroSala(event)" disabled>
                        <option selected value="0">Seleccione una sala</option>
                    </select>
                    <input type="date" class="form-control w-25 ms-3" th:value="${#temporals.format(dia, 'yyyy-MM-dd')}" id="fecha-selector" name="fecha" onchange="filtroFecha(event)">
                    <form class="d-flex w-75 ms-3">
                        <input type="text" placeholder="Busca un título o una categoría" class="busctitulocat" onkeyup="filtroTituloCategoria(event)">
                        <button type="button" id="alphabetic" class="btn btn-dark ms-2" onclick="filtroAlfabetico(event)">A-Z ↓</button>
                        <button type="button" id="duration" class="btn btn-dark ms-2" onclick="filtroDuracion(event)">Duración ↓</button>
                    </form>
                </div>
                <div class="table-responsive tabla mt-3">
                    <table class="table align-middle">
                        <thead></thead>
                        <tbody id="peliculas">
                            <tr th:each="sesion : ${sesiones}" th:id="${sesion.id}">
                                <td class="d-flex align-items-center"><a
                                        th:href="@{/peliculas/{id}(id=${sesion.id})}"><img
                                            th:src="@{/peliculas/{id}/pic(id=${sesion.id})}" src="/img/img1.jpg"
                                            alt="imagen pelicula" height="120px" width="84px"
                                            class="d-inline-block"></a></td>
                                <td><a th:href="@{/peliculas/{id}(id=${sesion.id})}" th:text="${sesion.titulo}"
                                        class="text-dark bold">El buen patrón</a></td>
                                <td th:text="${sesion.duraccion + ' min'}">120 min</td>
                                <td th:text="${sesion.genero}">Comedia</td>
                                
                                    <td th:each="pase : ${sesion.sesiones}" th:id="'sesion' + ${pase.id}" th:class="'sesion cine-' + ${pase.cine.id} + ' sala-' + ${pase.sala.id}">
                                        <a th:if="${pase.asientosLibres > 0}" th:href="@{/entradas/compra-entradas?sesion={p}(p=${pase.id})}">
                                            <button type="button" class="btn btn-dark btn-sm ms-3 btn-sesion" th:if="${pase.dia_hora.minute &lt; 10 && pase.asientosLibres > 0}" th:text="${pase.dia_hora.hour + ':0' + pase.dia_hora.minute}">12:00</button>
                                            <button type="button" class="btn btn-dark btn-sm ms-3 btn-sesion" th:if="${pase.dia_hora.minute &gt; 10 && pase.asientosLibres > 0}" th:text="${pase.dia_hora.hour + ':' + pase.dia_hora.minute}">12:00</button>
                                            <button type="button" class="btn btn-dark btn-sm ms-3 btn-sesion" th:if="${pase.dia_hora.minute &lt; 10 && pase.asientosLibres == 0}" th:text="${pase.dia_hora.hour + ':0' + pase.dia_hora.minute}" disabled>12:00</button>
                                            <button type="button" class="btn btn-dark btn-sm ms-3 btn-sesion" th:if="${pase.dia_hora.minute &gt; 10 && pase.asientosLibres == 0}" th:text="${pase.dia_hora.hour + ':' + pase.dia_hora.minute}" disabled>12:00</button>
                                        </a>
                                        <a th:unless="${pase.asientosLibres > 0}" href="#">
                                            <button type="button" class="btn btn-dark btn-sm ms-3 btn-sesion" th:if="${pase.dia_hora.minute &lt; 10 && pase.asientosLibres > 0}" th:text="${pase.dia_hora.hour + ':0' + pase.dia_hora.minute}">12:00</button>
                                            <button type="button" class="btn btn-dark btn-sm ms-3 btn-sesion" th:if="${pase.dia_hora.minute &gt; 10 && pase.asientosLibres > 0}" th:text="${pase.dia_hora.hour + ':' + pase.dia_hora.minute}">12:00</button>
                                            <button type="button" class="btn btn-dark btn-sm ms-3 btn-sesion" th:if="${pase.dia_hora.minute &lt; 10 && pase.asientosLibres == 0}" th:text="${pase.dia_hora.hour + ':0' + pase.dia_hora.minute}" disabled>12:00</button>
                                            <button type="button" class="btn btn-dark btn-sm ms-3 btn-sesion" th:if="${pase.dia_hora.minute &gt; 10 && pase.asientosLibres == 0}" th:text="${pase.dia_hora.hour + ':' + pase.dia_hora.minute}" disabled>12:00</button>
                                        </a>
                                        <p class="mt-2 text-danger bold" th:if="${pase.asientosLibres == 0}">AGOTADO</p>
                                        <p class="mt-2 text-danger bold" th:if="${pase.asientosLibres &lt; 3 && pase.asientosLibres &gt; 0}" th:text="${pase.asientosLibres + ' butacas'}">2 butacas</p>
                                        <p class="mt-2" th:if="${pase.asientosLibres &gt; 2}" th:text="${pase.asientosLibres + ' butacas'}">10 butacas</p>
                                        <input type="hidden" th:value="${pase.dia_hora}"></input>
                                    </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>